language: objective-c

before_install:
  - nvm install 7
  - node --version
  - npm install
  - java -version
#  - echo $PATH
#  - ls -lh ~/
#  - wget https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein -O ~/bin/lein
  - brew install leiningen
  - lein --version

before_script:
  - lein prod-build

script: lein exec -p script/run_native_tests.clj
