language: objective-c

before_install:
  - nvm install 7
  - node --version
  - npm install
  - java -version
  - brew install leiningen
  - lein --version
  - lein deps

before_script:
  - lein prod-build
  - npm start &
  - sleep 10

script: lein exec -p script/run_native_tests.clj
